/* typography */
h1{
    font-size: 4rem;
    font-weight: 300;
    margin-top: 0;
}
h2{
    font-size: 2.7rem;
    font-weight: 300;
    margin-top: 0;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    line-height: 1;
    padding: .5em 0;
}
.h1-spotlight,
.h2-spotlight {
    display: block;
    font-weight:900;
    color: #99D930;
}
.h1-spotlight{
    font-size: 5rem;
}
.h2-spotlight{
    font-size: 3.75rem;
}
h3{
    font-size: 2rem;
    margin-bottom: 0;
}
.small-font{
    font-size: 1rem;
    margin: 0;
    padding: .3125em;
    font-weight: 300;
}
a {
    color: #99D930;
    font-weight: 900;
}
a:hover,
a:focus{
    color: #131313;
}
.name,
time{
    color: #99D930;
    font-weight: 900;
}

/* layout */
/* --------------------- */
html{
    font-size: .9rem;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container{
    /* max-width: 90%; */
    margin: 0 auto;
    padding: 5em 2em;
}
header img{
    max-width: 200px;
    border-radius: 50%;
    border: 8px solid #fff;
}
header,
.inverse{
    background:#252525;
    color: #fff;
}

.mid-section{
    background: #fff;
}
img{
    max-width: 80%;
}

.btn{
    margin-top: 1.25em;
    background: #99D930;
    color: #252525;
    display: inline-block;
    padding: 1.2em 1.5em;
    text-decoration: none;
}
.btn:hover,
.btn:focus{
    background: #252525;
    color: #fff;
}
.bottom-section .btn:hover,
.bottom-section .btn:focus{
    background: #fff;
    color: #252525;
}

@media (min-width: 1000px){
    .mid-section{
        display: flex;
        align-items: center;
    
    }
    header{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    .inverse{
        background-color: #99D930;
        color: #252525;
    }
    .inverse .h2-spotlight,
    .inverse .name,
    .inverse time,
    .inverse a{
        color: #252525;
    }
    .inverse a:hover,
    .inverse a:focus{
    color: #fff;
}
    html{
        font-size: 1.3125rem;
    }
    .inverse h2{
        border-top: 1px solid #252525;
        border-bottom: 1px solid #252525;
    }
    .inverse .btn{
        background: #252525;
        color: #fff;
    }
    .bottom-section{
        background:#252525;
        color: #fff;   
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .work{
        display: flex;
        justify-content: space-evenly;
    }
    .work img{
        height: 15em;
        width: 100%;
        object-fit: contain;
    }
}
