/* layout */
body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}
.container{
    width: 570px;
    margin: 0 auto;
    padding: 100px 0;
}
img{
    width: 200px;
    border-radius: 50%;
}
header{
    background:#D7D7D7;
}
.mid-section{
    background: #FFEAEA;
}
.bottom-section{
    background: #EAF9FF;
}
/* typography */
h1{
    font-size: 60px;
    font-weight: 300;
}
h2{
    font-size: 42px;
    font-weight: 300;
    margin: 0;
}
.h1-spotlight,
.h2-spotlight {
    display: block;
    font-weight:900;
}
.h1-spotlight{
    font-size: 80px;
}
.h2-spotlight{
    font-size: 60px;
}
h3{
    font-size: 36px;
    margin-bottom: 0;
}
.small-font{
    font-size: 16px;
    margin: 0;
    padding: 5px;
    font-weight: 300;
}
a {
    color: #99D930;
    font-weight: 900;
}
a:hover,
a:focus{
    color: #131313;
}